/* Colors */

$blanco:#fff;
$background1:#3197D6;
$backgroundTable:#18599A;
$backgroundAdvanced:#D0FBE2;
$foregroundAdvanced:#006266;
$backgroundMedium:#FFFBE1;
$foregroundMedium:#A27516;
$backgroundBasico:#FDE7D8;
$foregroundBasico:#E74C3C;
$navbar:#022A6D;